$heading-font-family: "Montserrat", sans-serif;
$text-font-family: "Open Sans", sans-serif;

$nav-breakpoint: 800px;

$nav-height: 75px;

$font-dark-color: #05080c;
$font-light-color: #737380;

$convergence-orange: #ff9a21;
$convergence-green: #97cf3e;
$convergence-purple: #d43ccd;

// Columbia colors to try:
//  #00a3ba
//  #e04e39
//  #00ab4a
//  #8031a7

// Mirroring bootstrap's breakpoints:
//  Small devices (landscape phones, 576px and up)
//  Medium devices (tablets, 768px and up)
//  Large devices (desktops, 992px and up)
//  Extra large devices (large desktops, 1200px and up)
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-breakpoints: $breakpoints;
