@mixin services {
  text-align: center;
  margin-top: vr(1);
}

.services {
  @include services();
}

.services--expanded {
  @include services();
}

.services__icon {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.services__category {
  margin: vr(0.5) 0 vr(0.25) 0;
  line-height: vr(1);
}

.services--stacked {
  @include services();

  .services__icon {
    width: 50%;
  }

  .services__service {
    margin-bottom: vr(2);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.services__list {
  li {
    line-height: vr(0.8);
    margin-top: vr(0.5);
  }
}
