@import "../../../style/shared/_variables.scss";

$gutter: 0.5rem;

.showcase {
  margin: 2.5rem 0;
  min-height: 300px;
}

.projectDetails {
  font-size: 0.8rem;
  font-weight: 300;
}

.projectImage {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.column {
  margin-bottom: 2rem;
}

.projectTitle {
  font-family: $heading-font-family;
  font-weight: 500;
}

.projectCaption,
.projectLink {
  font-style: italic;
}

.projectImage,
.projectTitle,
.projectCaption {
  margin-bottom: 0.25rem;
}

@media (min-width: 500px) {
  .showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -$gutter;
    margin-top: 2.5rem - $gutter;
    margin-bottom: 2.5rem - $gutter;
  }

  .column {
    flex: 0 0 33.333%;
    padding: $gutter;
    margin-bottom: 0;
  }

  .projectImage {
    height: 150px;
  }
}

@media (min-width: 600px) {
  .projectImage {
    height: 200px;
  }
}

@media (min-width: 900px) {
  $gutter: 1rem;

  .showcase {
    margin: -$gutter;
    margin-top: 2.5rem - $gutter;
    margin-bottom: 2.5rem - $gutter;
  }

  .column {
    padding: $gutter;
  }

  .projectImage {
    height: 300px;
  }
}
