.project-header {
  font-family: $heading-font-family;
  text-align: center;
}

.project-header__title {
  font-weight: 700;
  margin-bottom: 0;
}

.project-header__subtitle {
  font-weight: 300;
  font-style: italic;
  margin-top: 0;
  color: $font-light-color;
}

.project-banner {
  margin: 0;
}

.project-banner__image {
  width: 100%;
  height: auto;
}

.project-overview__title {
  color: $convergence-purple;
  margin-top: 0;
  display: inline-block;
  position: relative;
  &::after {
    content: " ";
    display: block;
    border-bottom: 2px solid $convergence-purple;
    position: absolute;
    width: 90%;
    border-bottom: 2px solid #d43ccd;
    bottom: -2px;
    left: 5%;
  }
}

.project-meta {
  margin-top: 1rem;
}

.project-meta__list {
  margin-bottom: vr(1);
  li {
    margin-bottom: vr(0.25);
  }
}

.project-meta__title {
  color: $convergence-purple;
  margin-bottom: vr(0.25);
  font-size: ms(0);
  &:first-of-type {
    margin-top: 0;
  }
}

@include media-breakpoint-up(sm) {
  .project-meta {
    margin-top: 4rem;
  }
  .project-meta__list {
    text-align: right;
    margin-bottom: vr(1);
    font-size: ms(-1);
    li {
      margin-bottom: vr(0.25);
    }
  }
  .project-meta__title {
    text-align: right;
    font-size: ms(-1);
    color: $convergence-purple;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.project-text-block__title {
  color: $convergence-purple;
  margin-top: 0;
  display: inline-block;
  position: relative;
  &::after {
    content: " ";
    display: block;
    border-bottom: 2px solid $convergence-purple;
    position: absolute;
    width: 90%;
    border-bottom: 2px solid #d43ccd;
    bottom: -2px;
    left: 5%;
  }
}

.project-cover {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: $heading-font-family;
  margin-bottom: vr(2);
}

.project-cover__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  overflow: hidden;
}

.project-cover__question {
  width: 100%;
  height: 100%;
  position: relative;
}

.project-cover__question-text {
  position: absolute;
  left: 0;
  bottom: vr(5);
  font-family: $heading-font-family;
  font-weight: 300;
  padding: vr(2);
  max-width: 70%;
  background-color: $convergence-purple;
  color: white;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);

  p {
    margin: 0;
    font-size: ms(2);
  }
}
