@import "../../../style/shared/_variables.scss";
@import "../../../style/shared/_unstyle-link.scss";

.figure {
  text-align: center;
  margin-top: 2rem;
}

.image {
  border-radius: 50%;
  width: 90%;
}

.name {
  font-family: $heading-font-family;
  font-weight: 700;
}

.title {
  font-family: $text-font-family;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLink {
  @extend %unstyle-link;
  margin-right: 0.8rem;

  &:last-child {
    margin-right: 0;
  }

  .icon {
    transition: color 0.2s ease-in-out;
    color: black;
    font-size: 1rem;
  }

  &:hover .icon {
    color: lighten(black, 25%);
  }
}
