%base-link {
  text-decoration: underline black;
  transition: opacity 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.link {
  @extend %base-link;

  text-decoration-color: $convergence-orange;
  color: $convergence-orange;
}

.link--white {
  @extend %base-link;

  text-decoration-color: white;
  color: white;
}
