@import "../shared/_variables";

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $container-max-width + 100px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.section {
  padding: 4rem 0;

  .title {
    margin-top: 0;
    margin-bottom: 1.4rem;
  }
}
