@import "./_links.scss";

.wordpress-content {
  ul,
  ol {
    list-style: none;
    margin-left: 1.3rem;
    font-size: 1.1rem;
  }
  ul {
    list-style: disc outside;
  }
  ol {
    list-style: decimal;
  }
  li {
    margin-bottom: 0.5rem;
    padding-left: 0.25rem;
  }
  a {
    @extend .link;
  }
}
