@import "reset";

$modularscale: (
  base: 1rem,
  ratio: 1.25
);

@import "../../../node_modules/modularscale-sass/stylesheets/_modularscale.scss";
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";
@import "typi-init";
@import "structure";
@import "social-links";
@import "links";
@import "text-helpers";
@import "typography";
@import "utils";
@import "grid";
@import "wordpress-content";
