@import "../../../style/shared/_variables.scss";
@import "../../../style/shared/_unstyle-link.scss";
@import "../../../style/_grid.scss";

.col {
  @include column-style(6, 12);

  @media (min-width: 425px) {
    @include column-style(4, 12);
  }

  @media (min-width: 600px) {
    @include column-style(3, 12);
  }

  @media (min-width: 1000px) {
    @include column-style(2, 12);
  }
}

.partnerImage {
  width: 100%;
  object-fit: contain;
  height: 120px;
  padding: 0.5rem;

  @media (min-width: 600px) {
    height: 150px;
  }
}

.partnerLink {
  @extend %unstyle-link;
  display: flex;
  justify-content: center;
}
