.block {
  text-align: center;
}

.image {
  max-height: 75vh;
  max-width: 100%;
}

.caption {
  max-width: 700px;
  margin: 0 auto;
  font-style: italic;
  color: #474747;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
