.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: vr(1);
  font-size: 1.2rem;
}

.footer__contact {
  font-size: 0.9rem;
}

.footer__copy {
  margin-top: 0.75rem;
  font-size: 0.6rem;
}

.footer__columbia-logo {
  max-width: 200px;
}
