.no-overflow {
  overflow: hidden;
}

.subtle-background {
  background-color: #f5f5f5;
}

.orange-background {
  background-color: $convergence-orange;
}

.green-background {
  background-color: $convergence-green;
}

.purple-background {
  background-color: $convergence-purple;
}

.light-text {
  color: white;
}

@each $breakpoint, $width in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    .display-none--#{$breakpoint}-up {
      display: none;
    }
  }
  @include media-breakpoint-down($breakpoint) {
    .display-none--#{$breakpoint}-down {
      display: none;
    }
  }
}
