@import "../../../style/shared/_variables.scss";
@import "../../../style/global/_breakpoints.scss";

.imageWrapper {
  order: 2;
  margin-top: 2rem;

  @include media-breakpoint-up(md) {
    order: initial;
    margin-top: 0;
  }
}

.image {
  width: 100%;
}
