# Disable caching on HTML and JS files only
ExpiresActive On
ExpiresByType text/html "access plus 0 minutes"
ExpiresByType text/javascript "access plus 0 minutes"

RewriteEngine On
# Relative path redirects for work and resources dynamic pages
RewriteRule "^work/(.+)" "project/index.html" [PT]
RewriteRule "^resources/(.+)" "resource/index.html" [PT]
# Redirects
RewriteRule "^login/?" "https://api2.convergencedesignlab.org/wp/login/" [R,L]
RewriteRule "^p2p/?$" "/web-resources/passion-to-purpose" [R,L]
RewriteRule "^mentor-hats/?$" "/resources/mentor-hats" [R,L]

# Error document is an absolute path
ErrorDocument 404 /404.html