@import "../../style/shared/_variables.scss";

.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.join {
  font-family: $heading-font-family;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  line-height: 1.2;
}

.social > * {
  margin: 0 0.15rem;
}

.email,
.social {
  margin-bottom: 0.1rem;
}
