@import "../../../style/shared/_variables.scss";

.cover {
  position: relative;
  width: 100%;
  position: relative;
  height: 350px;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverQuestionContainer {
  text-align: center;
  position: absolute;
  background-color: $convergence-purple;
  font-family: $heading-font-family;
  left: 0;
  top: 5%;
  padding: 0.5rem;
  font-weight: 300;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
  max-width: 80%;
  color: white;
  text-align: center;
}

.coverQuestion {
  p {
    margin: 0;
    font-size: 1rem;
  }
}

@media (min-width: 550px) {
  .cover {
    height: 500px;
  }

  .coverQuestionContainer {
    max-width: 65%;
    padding: 1.5rem;
    text-align: right;
  }

  .coverQuestion p {
    font-size: 1.25rem;
  }
}

@media (min-width: 950px) {
  .cover {
    height: 600px;
  }

  .coverQuestionContainer {
    max-width: 55%;
    padding: 1.5rem;
  }

  .coverQuestion p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .coverQuestionContainer {
    max-width: 40rem;
  }
}
