@import "../../style/shared/_variables.scss";
@import "../../style/shared/_unstyle-link.scss";

.nav {
  height: $nav-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: 750px) {
    display: none;
  }

  .open,
  .close {
    font-size: 1.8rem;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    pointer-events: none;
  }

  &.isOpen {
    .overlay {
      visibility: visible;
      opacity: 0.7;
      transition: opacity 0.5s ease-in-out;
    }
    .slider {
      transform: translate(-100%, 0);
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .close {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .links {
    & > li {
      margin: 1.25rem 0;
    }

    a {
      @extend %unstyle-link;
      font-size: 1.5rem;
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: inherit;

      &:before {
        content: "";
        background-color: $convergence-orange;
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.25s ease-in-out;
        width: 0%;
      }

      &:hover,
      &.activeLink {
        &:before {
          width: 100%;
        }
      }

      &:active {
        color: darken(white, 25%);

        &:before {
          background-color: darken($convergence-orange, 25%);
        }
      }

      &:visited {
        color: inherit;
      }
    }

    @media (min-height: 500px) {
      a {
        font-size: 1.75rem;
      }

      & > li {
        margin: 1.5rem 0;
      }
    }
  }

  .slider {
    color: white;
    position: fixed;
    top: 0;
    left: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: $convergence-orange;
    transition: transform 0.5s ease-in-out;
    padding: 0 4rem;
  }
}
