@import "../../style/shared/_variables.scss";

.wrapper {
  height: $nav-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  height: 70%;
}

.logo {
  height: 100%;
  max-width: 230px;

  :global #convergence *,
  :global #columbia *,
  :global #separator {
    fill: white;
    transition: all 0.2s ease-in-out 0.1s;
  }

  &.fillBlack {
    :global #convergence *,
    :global #columbia *,
    :global #separator {
      fill: black;
    }
  }

  @media (min-width: 470px) {
    max-width: 300px;
  }

  @media (min-width: 1075px) {
    max-width: 100%;
  }
}
